<div class="w-80 <%= @extra_classes %>">
  <% if @title %>
    <div class="font-semibold text-2xl text-center p-2">
      <% if @game.notes.include? "at the" %>
        <% parts = @game.notes.partition "at the" %>
        <div><%= parts[0].strip %></div>
        <div><%= parts[2].strip %></div>
      <% else %>
        <%= @game.notes %>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <% if @game.is_completed? %>
      Final | <%= time_tag @game.start, "data-local": "time", "data-format": "%b. %e at %l:%M %p" %>
    <% elsif @game.is_live? %> 
      <% if @game.away_line_scores&.length > 4 %>
        <%= @game.tv %> | OT
      <% else %>
        <%= @game.tv %> | <%= @game.clock %> <%= @game.period&.to_i&.ordinalize %>
      <% end %>
    <% else %>
      <%= @game.tv %> | <%= time_tag @game.start, "data-local": "time", "data-format": "%b. %e at %l:%M %p" %>
    <% end %>
  </div>
  <table class="px-2 w-full">
    <tr>
      <td class="w-1/2">
        <div class="flex ml-4">
          <%= image_tag @game.away.logos.first, class: "h-16" %>
          <div class="font-bold text-4xl content-center px-2">
            <%= @game.away_points || 0 %>
          </div>
          <div class="grow my-auto">
            <% if @game.possession == @game.away.school && @game.is_live? %>
              <%= icon "chevron-double-left", class: "size-6" %>
            <% else %>    
              <div class="size-6"></div>
            <% end %>
          </div>
        </div>
      </td>
      <td class="w-1/2">
        <div class="flex mr-4">
          <div class="grow my-auto">
            <% if @game.possession == @game.home.school && @game.is_live? %>
              <%= icon "chevron-double-right", class: "size-6" %>
            <% else %>    
              <div class="size-6"></div>
            <% end %>
          </div>
          <div class="font-bold text-4xl content-center px-2">
            <%= @game.home_points || 0 %>
          </div>
          <%= image_tag @game.home.logos.first, class: "h-16" %>
        </div>
      </td>
    </tr>
    <tr class="font-semibold mx-4">
      <td class="w-1/2">
        <div class="ml-4">
          <%= @game.away.school %>
        </div>
      </td>
      <td class="w-1/2">
        <div class="mr-4 text-right">
          <%= @game.home.school %>
        </div>
      </td>
    </tr>
  </table>
</div>
