<div class="flex border-2 rounded <%= @extra_classes %>">
  <div class="flex border-r-2 px-2">
    <%= icon "trophy", class: "text-amber-400 size-10 my-auto", variant: "solid" %>
    <div class="font-semibold my-auto text-2xl px-2">
      <%= @legend["total_wins"] %>
    </div>
  </div>
  <div class="flex rounded px-4 py-3">
    <div class="flex">
      <% @user = User.find(@legend["user_id"]) if @legend["user_id"] %>
      <% if @user.present? && @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: "size-10 rounded-full mx-2 my-auto" %>
      <% else %>
        <%= icon "user-circle", class: "text-black size-10 mx-2 my-auto", variant: "solid" %>
      <% end %>
      <div class="flex flex-col w-60">
        <% if @user.present? %>
          <div class="text-base font-semibold"><%= @user.name %></div>
          <div class="text-sm font-medium text-gray-400"><%= @legend["seasons"].join(", ") %></div>
        <% else %>
          <div class="text-base font-semibold"><%= @legend["name"] %></div>
          <div class="text-sm font-medium text-gray-400"><%= @legend["seasons"].join(", ") %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
