<div class="font-semibold text-xl py-2">
  <%= f.object.game.notes %>
  <div class="text-sm text-black/75">
    <%= f.object.game.tv %> | <%= time_tag f.object.game.start, "data-local": "time", "data-format": "%b. %e @ %l:%M %p" %>
  </div>
</div>
<div class="flex flex-row justify-center mb-6">
  <label
    class="relative flex rounded-lg border border-4 bg-white p-2 shadow-sm max-sm:size-36 sm:size-48"
    data-action="click->user-picks#updateBowl"
    data-user-picks-target="team"
  >
    <div class="flex flex-col mx-auto", data-user-picks-target="radio">
      <%= f.radio_button :team_id, f.object.game.away.id, class: "sr-only" %>
      <%= image_tag f.object.game.away.logos.first, class: "mx-auto max-sm:size-20 sm:size-36" %>
      <span class="font-semibold text-center">
        <%= f.object.game.away.school %>
      </span>
    </div>
  </label>
  <span class="font-semibold content-center px-4">vs</span>
  <label
    class="relative flex rounded-lg border border-4 bg-white p-2 shadow-sm max-sm:size-36 sm:size-48"
    data-action="click->user-picks#updateBowl"
    data-user-picks-target="team"
  >
    <div class="flex flex-col mx-auto", data-user-picks-target="radio">
      <%= f.radio_button :team_id, f.object.game.home.id, class: "sr-only" %>
    <%= image_tag f.object.game.home.logos.first, class: "mx-auto max-sm:size-20 sm:size-36" %>
      <span class="font-semibold text-center">
        <%= f.object.game.home.school %>
      </span>
    </div>
  </label>
</div>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :game_id %>
