<div class="font-semibold text-xl py-2">
  <%= pick.game.notes %>
  <div class="text-sm text-black/75">
    <%= pick.game.tv %> | <%= time_tag pick.game.start, "data-local": "time", "data-format": "%b. %e @ %l:%M %p" %>
  </div>
</div>
<div class="flex flex-row justify-center mb-6" data-user-picks-target="bowl">
  <label
    class="relative flex cursor-pointer rounded-lg border border-4 bg-white p-2 shadow-sm max-sm:size-36 sm:size-48"
    data-user-picks-target="team"
  >
    <div class="flex flex-col mx-auto">
      <input class="sr-only"
        <% if pick.team_id == pick.game.away.id %>
          checked="checked"
        <% end %>
      >
      <%= image_tag pick.game.away.logos.first, class: "mx-auto max-sm:size-20 sm:size-36" %>
      <span class="font-semibold text-center">
        <%= pick.game.away.school %>
      </span>
    </div>
  </label>
  <span class="font-semibold content-center px-4">vs</span>
  <label
    class="relative flex cursor-pointer rounded-lg border border-4 bg-white p-2 shadow-sm max-sm:size-36 sm:size-48"
    data-user-picks-target="team"
  >
    <div class="flex flex-col mx-auto">
      <input class="sr-only"
        <% if pick.team_id == pick.game.home.id %>
          checked="checked"
        <% end %>
      >
      <%= image_tag pick.game.home.logos.first, class: "mx-auto max-sm:size-20 sm:size-36" %>
      <span class="font-semibold text-center">
        <%= pick.game.home.school %>
      </span>
    </div>
  </label>
</div>
