<div class="mx-auto w-full text-center" data-controller="user-picks">
  <%= form_with model: @user, url: { controller: 'users/picks', action: 'update' }, method: :put do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited your picks from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-row justify-evenly">
      <div class="w-1/3"></div>
      <div class="w-1/3 font-bold text-4xl mb-4">Editing Picks: <%= @user.name %></div>
      <div class="w-1/3">
        <%= f.submit "Update Picks", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>

    <%= f.fields_for :picks do |pf| %> 
      <% unless pf.object.game.is_live? || pf.object.game.is_completed? %>
        <div 
        <%= render partial: "users/picks/form_game", locals: { f: pf } %>
      <% end %>
    <% end %>
  <% end %>
</div>
