<div class="w-full max-w-7xl mx-auto text-center">
  <%= form_with model: @user, url: { controller: 'users/picks', action: 'update' }, method: :put do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited your picks from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="max-sm:hidden relative">
      <div class="absolute right-0">
        <%= f.submit "Update Picks",
          class: "rounded-lg py-2 px-5 bg-blue-600 text-white font-medium cursor-pointer my-auto"
        %>
      </div>
      <div class="font-semibold text-4xl inline-flex">
        Available Games
        <%= icon "lock-open", class: "size-8 my-auto ml-2", variant: "solid" %>
      </div>
    </div>

    <div class="sm:hidden mb-4">
      <div class="font-semibold text-4xl inline-flex mb-4">
        Available Games
        <%= icon "lock-open", class: "size-8 my-auto ml-2", variant: "solid" %>
      </div>
      <%= f.submit "Update Picks",
        class: "rounded-lg py-2 px-5 bg-blue-600 text-white font-medium cursor-pointer my-auto"
      %>
    </div>

    <div class="flex flex-wrap justify-center">
      <%= f.fields_for :picks do |pf| %>
        <% unless @available.include? pf.object %>
          <%= render Form::PickComponent.new(pick: pf) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
