<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Picks" %>

  <div class="flex flex-col justify-center">
    <% @picks.each do |pick| %>
      <div>
        <%= pick.user.name %> <%= pick.game.notes %>
      </div<
    <% end %>
  </div>

  <% if @picks.length > 0 %>
    <div class="inline">
      <%= button_to "Edit Picks", user_picks_edit_path(@user), method: :get, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% else %>
    <div class="flex flex-col justify-center">
      <div class="mx-auto font-semibold text-2xl">
        You have no picks yet!
      </div>
      <div class="mx-auto mt-8">
        <%= button_to "Create Picks", user_picks_edit_path(@user), method: :get, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
