<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="font-bold text-4xl"><%= @user.name %></h1>

    <div class="my-5">
      Email Address
      <div class="shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-black/50">
        <%= @user.email_address.blank? ? "N/A" : @user.email_address %>
      </div>
    </div>

    <div class="my-5">
      First Name
      <div class="shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-black/50">
        <%= @user.first_name.blank? ? "N/A" : @user.first_name %>
      </div>
    </div>

    <div class="my-5">
      Last Name
      <div class="shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-black/50">
        <%= @user.last_name.blank? ? "N/A" : @user.last_name %>
      </div>
    </div>

    <div class="my-5">
      Display Name
      <div class="shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-black/50">
        <%= @user.display_name.blank? ? "N/A" : @user.display_name %>
      </div>
    </div>

    <div class="inline">
      <%= button_to "Edit Account", edit_user_path(@user), method: :get, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

  </div>
</div>
