<div id="<%= dom_id game %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cfbd:</strong>
    <%= game.cfbd_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Season:</strong>
    <%= game.season %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start:</strong>
    <%= game.start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
    <%= game.completed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attendance:</strong>
    <%= game.attendance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Venue:</strong>
    <%= game.venue_id_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Home:</strong>
    <%= game.home_id_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Home points:</strong>
    <%= game.home_points %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Home line scores:</strong>
    <%= game.home_line_scores %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Away:</strong>
    <%= game.away_id_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Away points:</strong>
    <%= game.away_points %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Away line scores:</strong>
    <%= game.away_line_scores %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Highlights:</strong>
    <%= game.highlights %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= game.notes %>
  </p>

</div>
