<div id="<%= dom_id game %>" class="border-4 rounded border-neutral-400 w-80 m-4">
  <div class="font-semibold text-l text-center underline p-2">
    <%= game.notes %>
  </div>
  <div class="text-center">
    <% if game.completed %>
      Final | <%= time_tag game.start, "data-local": "time", "data-format": "%b. %e at %l:%M %p" %>
    <% else %> 
      <%= game.tv %> | <%= time_tag game.start, "data-local": "time", "data-format": "%b. %e at %l:%M %p" %>
    <% end %>
    <% if game.is_live? %>
      <%= game.period %> | <%= game.clock %>
    <% end %>
  </div>
  <div class="flex flex-row justify-center content-center">
    <div class="flex flex-col justify-center content-center away-team px-4">
      <div class="flex flex-row justify-center content-center">
        <div class="size-16 pr-1">
          <%= image_tag game.away.logos.first %>
        </div>
        <div class="font-bold text-4xl my-auto">
          <%= game.away_points || 0 %>
        </div>
        <% if game.possession == "away" %>
            <%= icon "chevron-double-left", class: "size-4 my-auto" %>
        <% end %>
      </div>
      <div class="font-semibold text-l text-center my-auto">
        <%= game.away.school %>
      </div>
    </div>
    <div class="flex flex-col justify-center content-center home-team px-4">
      <div class="flex flex-row justify-center content-center">
        <% if game.possession == "home" %>
            <%= icon "chevron-double-right", class: "size-4 my-auto" %>
        <% end %>
        <div class="font-bold text-4xl my-auto">
          <%= game.home_points || 0 %>
        </div>
        <div class="size-16 pl-1">
          <%= image_tag game.home.logos.first %>
        </div>
      </div>
      <div class="font-semibold text-l text-center my-auto">
        <%= game.home.school %>
      </div>
    </div>
  </div>
</div>
