<div class="container mx-auto w-full flex flex-col">
  <div class="mx-auto max-sm:hidden">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="font-bold text-center text-4xl">
      <% if @game.notes.include? "at the" %>
        <% parts = @game.notes.partition "at the" %>
        <div><%= parts[0].strip %></div>
        <div><%= parts[2].strip %></div>
      <% else %>
        <%= @game.notes %>
      <% end %>
    </div>
    <div class="font-semibold text-center text-xl">
      <%= time_tag @game.start, "data-local": "time", "data-format": "%B %e at %l:%M %p" %>
    </div>
    <div class="text-center text-xl">
    </div>
    <div class="flex flex-row justify-center content-center">
      <div class="flex flex-col justify-center content-center away-team px-4">
        <div class="flex flex-row justify-center content-center">
          <div class="size-40 pr-1">
            <%= image_tag @game.away.logos.first %>
          </div>
          <div class="font-bold text-4xl my-auto">
            <%= @game.away_points || 0 %>
          </div>
          <% if @game.possession == "away" %>
            <%= icon "chevron-double-left", class: "size-4 my-auto" %>
          <% else %>    
            <%= icon "chevron-double-left", class: "size-4 my-auto text-white" %>
          <% end %>
        </div>
        <div class="font-semibold text-xl text-left my-auto">
          <%= @game.away.school %> <%= @game.away.mascot %>
        </div>
      </div>
      <div class="my-auto text-center">
        <% if @game.is_live? %>
          <% if @game.away_line_scores&.length.to_i > 4 %>
            <%= @game.tv %> | OT
          <% else %>
            <%= @game.tv %> | <%= @game.clock %> <%= @game.period&.to_i&.ordinalize %>
          <% end %>
        <% elsif @game.is_completed? %>
          <%= @game.tv %> | Final
        <% else %>
          <%= @game.tv %>
        <% end %>
        <div class="my-2">
          <%= render GameBoxscoreComponent.new(game: @game) %>
        </div>
      </div>
      <div class="flex flex-col justify-center content-center home-team px-4">
        <div class="flex flex-row justify-center content-center">
          <% if @game.possession == "home" %>
              <%= icon "chevron-double-right", class: "size-4 my-auto" %>
          <% else %>    
            <%= icon "chevron-double-right", class: "size-4 my-auto text-white" %>
          <% end %>
          <div class="font-bold text-4xl my-auto">
            <%= @game.home_points || 0 %>
          </div>
          <div class="size-40 pl-1">
            <%= image_tag @game.home.logos.first %>
          </div>
        </div>
        <div class="font-semibold text-xl text-right my-auto">
          <%= @game.home.school %> <%= @game.home.mascot %>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:hidden">
    <%= render partial: "games/card", locals: { game: @game } %>
    <%= render GameBoxscoreComponent.new(game: @game) %>
  </div>
  <div class="text-center my-2 px-1">
    <% unless @game.last_play.blank? %>
      <%= @game.last_play %>
    <% end %>
  </div>
</div>
