<div class="container">
  <!-- Computer Table -->
  <div class="max-sm:hidden flex flex-col items-center">
    <!-- Headers -->
    <div class="flex flex-row py-2 px-4 mb-2 content-center border-b border-gray-300 sticky top-0 bg-white">
      <% @users.each do |user| %>
        <div class="font-semibold text-gray-900 text-left w-44">
          <% if user == Current.user %>
            <%= link_to user_picks_path(user), method: :get do %>
              <div class="flex flex-row">
                <%= user.name %> (<%= user.picks_correct %>)
                <%= icon "pencil-square", class: "text-black size-4 ml-1 my-auto" %>
              </div>
            <% end %>
          <% else %>
            <%= user.name %> (<%= user.picks_correct %>)
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Games -->
    <div class="flex-row">
      <% @games.each do |game| %> 
        <%= link_to game_path(game) do %>
          <div class="grow bg-slate-200 py-2 px-3 rounded">
            <div class="flex flex-row">
              <span class="grow font-semibold text-left">
                <%= game.notes %>
              </span>
              <span class="grow text-sm text-right text-black/75">
                <%= game.tv %> | <%= time_tag game.start, "data-local": "time", "data-format": "%b. %e @ %l:%M %p" %>
              </span>
            </div>
          </div>
        <% end %>
        <div class="flex flex-row py-2 px-3">
          <% @users.each do |user| %>
            <% pick = Pick.find_by(game: game, user: user) %>
            <div class="flex flex-row whitespace-nowrap text-sm w-44 h-8">
              <% unless game.winner.blank? %>
                <div class="flex flex-row">
                  <% if pick.team == game.winner %>
                    <%= icon "check-circle", class: "font-extrabold text-green-500 size-8 mr-2" %>
                  <% else %>
                    <%= icon "x-circle", class: "font-bold text-red-500 size-8 mr-2" %>
                  <% end %>
                </div>
              <% end %>
              <span class="my-auto"><%= pick&.team&.school %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Mobile Table -->
  <div class="sm:hidden -mt-8 flex flex-col items-center">
    <div class="flex-row">
      <% @games.each do |game| %> 
        <%= link_to game_path(game), class: "sticky top-0" do %>
          <div class="grow bg-slate-200 py-2 px-3">
            <div class="flex flex-col text-left">
              <div class="grow font-semibold">
                <%= game.notes %>
              </div>
              <div class="grow text-sm text-black/75">
                <%= game.tv %> | <%= time_tag game.start, "data-local": "time", "data-format": "%b. %e @ %l:%M %p" %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="flex flex-col py-2 px-3">
          <% @users.each do |user| %>
            <% pick = Pick.find_by(game: game, user: user) %>
            <div class="flex flex-row whitespace-nowrap text-sm h-10">
              <div class="w-1/2 my-auto">
                <%= user.name %> (<%= user.picks_correct %>)
              </div>
              <% unless game.winner.blank? %>
                <div class="flex flex-row my-auto">
                  <% if pick.team == game.winner %>
                    <%= icon "check-circle", class: "font-extrabold text-green-500 size-8 mr-2" %>
                  <% else %>
                    <%= icon "x-circle", class: "font-bold text-red-500 size-8 mr-2" %>
                  <% end %>
                </div>
              <% end %>
              <span class="my-auto"><%= pick&.team&.school %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
