<nav class="bg-blue-900" data-controller="navbar">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <!-- Left Side -->
      <div class="flex items-center">
        <%= link_to root_path, class:"flex font-semibold text-2xl text-white" do %>
          <%= icon "trophy", class: "font-bold text-amber-400 size-8 mr-4" %>
          Mouthguard
        <% end %>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= link_to games_path, class: "rounded-md px-3 py-2 text-sm font-medium text-white" do %>
              Games
            <% end %>
            <%= link_to picks_path, class: "rounded-md px-3 py-2 text-sm font-medium text-white" do %>
              Picks
            <% end %>
          </div>
        </div>
      </div>
      <!-- Right Side -->
      <div class="hidden sm:ml-6 sm:block">
        <div class="flex flex-row items-center">
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <% if authenticated? %>
              <button class="flex flex-row relative p-1" data-action="click->navbar#toggleMenu">
                <%= icon "user-circle", class: "text-white size-8" %>
                <span class="align-middle text-white p-1">
                  <%= Current.user.name %>
                </span>
              </button>
            <% else %>
              <%= button_to new_session_path, method: :get, class:"flex flex-row relative p-1" do %>
                <%= icon "user-circle", class: "text-white size-8" %>
                <span class="align-middle text-white p-1">
                  Log In
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex sm:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white" data-action="click->navbar#toggleMenu">
          <%= icon "bars-3", class: "size-8" %>
        </button>
      </div>
    </div>
  </div>

  <!-- Profile Dropdown Menu -->
  <div class="max-w-7xl mx-auto">
    <% if authenticated? %>
      <div class="hidden max-sm:hidden relative" data-navbar-target="profileMenu">
        <div class="absolute z-20 right-0 mt-1 w-48 origin-top-right border-2 border-gray-400 rounded-md bg-gray-200 py-1 shadow-lg" role="menu" tabindex="-1">
          <div class="my-1 px-2">
            <%= button_to user_path(Current.user), method: :get, class: "w-full block rounded-md px-3 py-1 text-left text-sm hover:bg-blue-600 hover:text-white" do %>
              My Profile
            <% end %>
          </div>
          <div class="my-1 px-2">
            <%= button_to user_picks_path(Current.user), method: :get, class: "w-full block rounded-md px-3 py-1 text-left text-sm hover:bg-blue-600 hover:text-white" do %>
              My Picks
            <% end %>
          </div>
          <div class="my-1 px-2">
            <%= button_to session_path, method: :delete, class: "w-full block rounded-md px-3 py-1 text-left text-sm hover:bg-blue-600 hover:text-white" do %>
              Log Out
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Mobile Menu -->
  <div class="hidden sm:hidden shadow-xl" id="mobile-menu" data-navbar-target="mobileMenu">
    <div class="space-y-1 px-2 pb-3 pt-2 border-b border-b-1 border-grey-900 shadow-xl">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <%= link_to "Dashboard", root_path, class:"block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-900 hover:text-white" %>
      <%= link_to "Games", games_path, class:"block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-900 hover:text-white" %>
      <%= link_to "Picks", picks_path, class:"block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-900 hover:text-white" %>
    </div>
    <div class="pb-3 pt-4">
      <% if authenticated? %>
        <div class="flex items-center px-5">
          <div class="shrink-0">
            <%= icon "user-circle", class: "text-white size-10" %>
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-white"><%= Current.user.name %></div>
            <div class="text-sm font-medium text-gray-400"><%= Current.user.email_address %></div>
          </div>
        </div>
        <div class="mt-3 space-y-1 px-2">
          <%= button_to user_path(Current.user), method: :get, class: "w-full block rounded-md px-3 py-2 text-base text-left font-medium text-gray-400 hover:bg-gray-900 hover:text-white" do %>
            My Account
          <% end %>
        </div>
        <div class="mt-3 space-y-1 px-2">
          <%= button_to user_picks_path(Current.user), method: :get, class: "w-full block rounded-md px-3 py-2 text-base text-left font-medium text-gray-400 hover:bg-gray-900 hover:text-white" do %>
            My Picks
          <% end %>
        </div>
        <div class="mt-3 space-y-1 px-2">
          <%= button_to session_path, method: :delete, class: "w-full block rounded-md px-3 py-2 text-base text-left font-medium text-gray-400 hover:bg-gray-900 hover:text-white" do %>
            Log Out
          <% end %>
        </div>
      <% else %>
        <%= button_to  new_session_path, method: :get, class:"w-full flex flex-row block rounded-md px-3 py-2 text-base text-left font-medium text-gray-400 hover:bg-gray-700 hover:text-white" do %>
          <%= icon "user-circle", class: "text-white size-8" %>
          Log In
        <% end %>
      <% end %>
    </div>
  </div>
</nav>

